<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net462" />
  <package id="Castle.WcfIntegrationFacility" version="4.1.0" targetFramework="net462" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="ProviderA.Contracts" version="1.5.17" targetFramework="net462" />
</packages>